In [3]:
import pandas as pd
import numpy as np
import scipy as sp

import plotly.plotly as py
py.sign_in('omeyrick', 'NyFF5cQrthBm4tIAxPvH')
from plotly.tools import FigureFactory as ff

In [4]:
df_postcodes = pd.read_csv("/Users/OliverM/Code/New Home/Data/ukpostcodes.csv")
df_postcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738223 entries, 0 to 1738222
Data columns (total 4 columns):
id           int64
postcode     object
latitude     float64
longitude    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.0+ MB

In [5]:
df_tech = pd.read_csv("/Users/OliverM/Code/New Home/Data/Top_Tech_Cities.csv")
df_tech = df_tech.merge(df_postcodes, on = 'postcode', how = 'left')

#table = ff.create_table(df_tech)
#py.iplot(table)

In [6]:
df_places = pd.read_csv("/Users/OliverM/Code/New Home/Data/DM_Top_100_Places_to_live.csv")
df_places = df_places.sort_values(by='scores highly on')
df_places = df_places.merge(df_postcodes, on = 'postcode', how = 'left')
df_places.head(20)
#table2 = ff.create_table(df_places)
#py.iplot(table2)

,rank,postcode,street name,locality,scores highly on,scores less well on,id,latitude,longitude
0,1,SK10 5SG,Shrigley Road,Bollington,Activities,Childcare,364076,53.331510,-2.079378
1,19,CR6 9PD,Harrow Road,Warlingham,Activities,NCT community,1403610,51.316421,-0.035617
2,22,LE9 7TF,Enderby Road,Thurlaston,Activities,Schools,903891,52.588841,-1.254706
3,23,WA4 4JL,Marsh Lane,Lower Whitley,Activities,Schools,87215,53.307662,-2.614287
4,66,LE18 3SH,Newton Lane,Wigston,Activities,Childcare,916457,52.575904,-1.080679
5,45,RG10 0BN,Waltham Road,Twyford,Activities,Childcare,501581,51.469743,-0.848694
6,12,WD3 3JH,Little Green Lane,Croxley Green,Activities,Childcare,72510,51.659014,-0.453683
7,57,AL4 8LR,Dale Avenue,Wheathampstead,Activities,Childcare,1573423,51.833638,-0.304386
8,10,LE6 0HA,Bradgate Road,Newtown Linford,Activities,NCT community,908609,52.680871,-1.217049
9,42,AL3 8ET,Chequers Hill,St Albans,Activities,Childcare,1573633,51.821555,-0.428130
10,8,BL7 9QL,Belmont Road,Bolton,Activities,NCT community,1563289,53.621704,-2.455875
11,29,NG15 8AE,Main Street,Linby,Activities,Childcare,718945,53.054212,-1.203362
12,6,HP3 0PT,Birch Lane,Flaunden,Activities,Childcare,1058696,51.698514,-0.531330
13,30,GU19 5HT,Bracknell Road,Bagshot,Activities,Childcare,1106673,51.374554,-0.695195
14,4,PR6 8LY,Lower Cophurst Lane,Chorley,Activities,Childcare,506707,53.688431,-2.618576
15,95,SE24 9PR,Red Post Hill,Herne Hill,Activities,Schools,384796,51.457638,-0.090752
16,31,PO7 5BH,Geoffrey Avenue,Waterlooville,Activities,Other mums,518817,50.859123,-1.052721
17,38,BA2 9HE,Crosspost Lane,Marksbury,Activities,Childcare,1644420,51.374037,-2.479207
18,55,ME19 5JJ,Stangate Road,Birling,Activities,Childcare,806889,51.327902,0.409919
19,48,GL4 0UU,Upton Lane,Brookthorpe,Childcare,NCT community,1124241,51.806386,-2.234085

In [7]:
df_art = pd.read_csv("/Users/OliverM/Code/New Home/Data/artistic_locations.csv")
df_art = df_art.merge(df_postcodes, on = 'postcode', how = 'left')
df_art.head(5)

              location  postcode       id   latitude  longitude
0              St Ives  TR26 2DS   158205  50.211618  -5.479880
1            Aldeburgh  IP15 5DS  1019136  52.154941   1.602925
2                Lewes   BN7 2QS  1540096  50.873543   0.010354
3           Hay-on-Wye   HR3 5BL  1052486  52.075093  -3.124624
4  Stratford-upon-Avon  CV37 6EF  1373985  52.191333  -1.705438

In [8]:
df_hmc = pd.read_csv("/Users/OliverM/Code/New Home/Data/hmc_schools_postcode.csv")
df_hmc = df_hmc.merge(df_postcodes, on = 'postcode', how = 'left')
df_hmc.head(5)

,hmc school,wikipedia link,postcode,id,latitude,longitude
0,"The Abbey School, Reading",https://en.wikipedia.org/wiki/The_Abbey_School...,RG1 5DZ,502311.0,51.448619,-0.962739
1,Abingdon School,https://en.wikipedia.org/wiki/Abingdon_School,OX14 1DE,612789.0,51.672989,-1.288396
2,Ackworth School,https://en.wikipedia.org/wiki/Ackworth_School,WF7 7LT,57152.0,53.649536,-1.334989
3,Arnold KEQMS,https://en.wikipedia.org/wiki/Arnold_KEQMS,FY8 1DT,1166466.0,53.740840,-3.010122
4,Aldenham School,https://en.wikipedia.org/wiki/Aldenham_School,WD6 3AJ,70347.0,51.663244,-0.327918

In [9]:
df_waitrose = pd.read_csv("/Users/OliverM/Code/New Home/Data/waitrose_postcode.csv")
df_waitrose = df_waitrose.merge(df_postcodes, on = 'postcode', how = 'left')

In [10]:
df_offsted = pd.read_csv("/Users/OliverM/Code/New Home/Data/offsted.csv")
df_offsted = df_offsted.rename(columns={'Postcode': 'postcode'})
df_offsted = df_offsted.merge(df_postcodes, on = 'postcode', how = 'left')

In [11]:
df_secondary_offsted = df_offsted.loc[df_offsted['Phase of education'] == 'Secondary']
df_secondary_offsted = df_secondary_offsted.loc[df_secondary_offsted['Overall effectiveness'] == 1]

In [12]:
df_post_offices = pd.read_csv("/Users/OliverM/Code/New Home/Data/postoffices.csv")
df_post_offices = df_post_offices.merge(df_postcodes, on = 'postcode', how = 'left')
df_post_offices.head()

    branch_name  postcode         id   latitude  longitude
0    Abbey Wood   SE2 9NN   387408.0  51.489596   0.120750
1   Abergavenny   NP7 5EB   667539.0  51.821699  -3.019567
2   Aberystwyth  SY23 1DE   227742.0  52.414738  -4.084735
3  Acocks Green   B27 6BG  1685622.0  52.446691  -1.822046
4         Acton    W3 9LD   103165.0  51.508181  -0.271983

In [18]:
import plotly.plotly as py
from plotly.graph_objs import *

mapbox_access_token = 'pk.eyJ1Ijoib21leXJpY2siLCJhIjoiY2l6dm1uZmM4MDAwdjMzbzBoOGhhNWM3NyJ9.ztyR2B5aLZ49mMfZzEWhig'

data = Data([
    Scattermapbox(
        name='Top 100 Places To Live',
        lat=df_places['latitude'],
        lon=df_places['longitude'],
        text=df_places['street name'],
        mode='markers',
        marker=Marker(
            size=18,
            color='rgb(80, 168, 227)',
            opacity=0.3
        ),
    ),
    Scattermapbox(
        name='Top Places For Artists',
        lat=df_art['latitude'],
        lon=df_art['longitude'],
        text=df_art['location'],
        mode='markers',
        marker=Marker(
            size=10,
            color='rgb(244,220,191)',
            opacity=0.5
        ),
    ),
    Scattermapbox(
        name='HMC Schools',
        lat=df_hmc['latitude'],
        lon=df_hmc['longitude'],
        text=df_hmc['hmc school'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(0, 121, 150)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Crown Post Offices',
        lat=df_post_offices['latitude'],
        lon=df_post_offices['longitude'],
        text=df_post_offices['branch_name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(184, 16, 16)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Outstanding Secondaries',
        lat=df_secondary_offsted['latitude'],
        lon=df_secondary_offsted['longitude'],
        text=df_secondary_offsted['School name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(6, 194, 244)',
            opacity=0.7
        ),
    ),
    Scattermapbox(
        name='Waitrose',
        lat=df_waitrose['latitude'],
        lon=df_waitrose['longitude'],
        text=df_waitrose['store name'],
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(170,177,17)',
            opacity=0.5
        ),
    ),
    Scattermapbox(
        name='Top UK Tech Centres',
        lat=df_tech['latitude'],
        lon=df_tech['longitude'],
        text=df_tech['city'],
        mode='markers',
        marker=Marker(
            size=12,
            color='rgb(237, 2, 11)',
            opacity=0.5
        ),
    )]
)

layout = Layout(
    title='Places To Live UK',
    autosize=True,
    hovermode='closest',
    showlegend=True,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=52,
            lon=-1   
        ),
        zoom=6,
        style='light'
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Places to live')